/** FONTS  */
@font-face {
  font-family: 'Quite Magical';
  src: url(/font/Quite\ Magical\ -\ TTF.ttf);
}

@font-face {
  font-family: 'Luna';
  src: url(/font/Luna.ttf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Road Stick';
  src: url(/font/Road\ Stick_PersonalUseOnly.ttf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Priska';
  src: url(/font/Priska.otf);
  font-style: normal;
  font-weight: 900;
}


/* CSS PATTERN */
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  overflow: hidden;
}

/** NAVBAR */

.navbar {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(51, 51, 51, 0);
  font-size: 0.995rem;
  position: absolute;
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000, -1px -1px 0 #000;
  z-index: 2;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover{
  background-color: #111;
  transition: .3s;
}

.actived {
  background-color: #04aa6d00;
}

.actived:hover {
  background-color: #026e46;
  transition: .3s;
}

/** PARALLAX  */

html{
  height: 100%;
  overflow: hidden;
}

body{
  background-color: #fff;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  transform-style: inherit;
  width: 100%;
  color: #000;
  text-shadow: 2px 4px 1px gray;
}

.header-wrapper{
  font-family: 'Quite Magical';
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main{
  padding: 2rem;
}

header h1{
  font-size: 8rem;
}

header p{
  font-size: 4rem;
}

header, header::before{
  background: 50% 50% / cover;
}

header::before{
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  background-size: cover;
  transform-origin: center center 0;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
  min-height: 100vh;
  animation: backgroundAnimation 35s ease-in-out infinite;
}

@keyframes backgroundAnimation{
  0%{
    transform: translateZ(-1px) scale(2.65);
  }

  50%{
    transform: translateZ(-1px) scale(2.1);
  }

  100%{
    transform: translateZ(-1px) scale(2.65);
  }
}

/** PÃGINA  */

.titulo{
  text-align: center;
  margin: auto;
  padding: 2rem;
  width: 95%;
  font-size: 4rem;
  border-bottom: solid rgb(220, 220, 220) 1px;
  letter-spacing: 3px;
}


.topico{
  width: 95%;
  margin: auto;
  margin-top: 2rem;
  text-align: left;
  font-size: 2.5rem;
}

.texto{
  width: 100%;
  padding: 2rem 4rem 4rem 2rem;
  margin: auto;
  text-align: left;
  font-size: 1.3rem;
}

hr{
  opacity: 1;
  background-color: rgb(220, 220, 220);
  width: 95%;
  margin: auto;
}

#clip-bg2{
  position: absolute;
  left: 75vw;
}

/* Scrollbar */

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-track{
  border-radius: 10px;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, .25);
}

::-webkit-scrollbar-thumb{
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover{
  box-shadow: inset 0 0 20px rgba(0, 0, 0, .375);
}

@media (max-width: 768px) {
  ::-webkit-scrollbar{
    display: none;
  }
}

/** BS5 */

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------- */

/* Carousel base class */

.carousel {
  width: 72.5vw;
  margin: auto;
  margin-bottom: 4rem;
}


/* Carousel background */

img:not(#logo) {
  filter: grayscale(60%);
  transition: 1.5s;
  cursor: pointer;
}

img:hover:not(#logo) {
  filter: unset;
  transform: scale(1.1);
}

.shadow-bg {
  background: linear-gradient(90deg, rgba(0, 0, 0, .6)25%, rgba(0, 0, 0, 0));
}

.shadow-bg2 {
  background: linear-gradient(270deg, rgba(0, 0, 0, .6)25%, rgba(0, 0, 0, 0));
}

/* Since positioning the image, we need to help out the caption */

.carousel-caption {
  bottom: 3rem;
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000, -1px -1px 0 #000;
  z-index: 10;
  font-weight: 700;
}

/* Declare heights because of positioning of img element */

.carousel-item {
  height: 32rem;
}

.carousel-item>img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

@media (min-width: 1249px) {
  .carousel{
    width: 80vw;
    height: 38rem;
  }

  img:not(#logo){
    height: 38rem;
  }

  .carousel-item, .carousel-inner{
    height: 38rem;
  }
}