@import url(global.css);

header::before{
  background-image: url(/img/bg/bruno-soares-Pa8ofq11OGg-unsplash.jpg);
  background-blend-mode: screen;
  background-color: #dc354560;
}

::-webkit-scrollbar-thumb{
  background-color: #dc354560;
}