@import url(global.css);

header::before{
    background-image: url(/img/bg/dawson-lovell-W_MUqtuHwyY-unsplash.jpg);
    background-blend-mode: screen;
    background-color: #ffc10750;
}

::-webkit-scrollbar-thumb{
    background-color: #ffc10750;
}