@import url(global.css);

header::before{
  background-image: url(/img/bg/tim-geenens-p5XgTYTFEaU-unsplash.jpg);
  background-blend-mode: screen;
  background-color: #d6338460;
}

::-webkit-scrollbar-thumb{
  background-color: #d6338460;
}