
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#marg{
    width: 100%;
    height: 25px;
    animation: backgroundChange2 10s ease-in-out infinite;
}

.curved, h3{
    background-color: #ee092a;
    text-align: center;
    color: white;
    animation: backgroundChange2 10s ease-in-out infinite;
}

.curved h1{
    width: 75%;
    text-align: center;
    margin: auto;
    font-size: 6rem;
    letter-spacing: 10px;
    border-bottom: 1px solid white;
}

.curved h2{
    font-size: 4.5rem;
}

.curved h2 img {
    height: 3rem;
    width: 4.5rem;
}

.curved svg{
    display: block;
}

.curved.upper{
    background-color: #fff;
}

.curved.upper svg path{
    animation: backgroundChange 10s ease-in-out infinite;
}

/* NAVBAR */

.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-size: 1rem;
  }
  
.navbar li{ 
    float: left;
  }
  
.navbar li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

.navbar li a:hover:not(.actived){
    background-color: #111;
    transition: .3s;
  }
  
.actived{
    background-color: #04AA6D;
  }

.actived:hover{
    background-color: #026e46;
    transition: .3s;
}

h1, h2, h3, h4, h5, h6{
    margin-bottom: 0;
    font-weight: 900;
}

h3{
    font-size: 18px;
}

/* KEYFRAMES */

@keyframes backgroundChange {
    0%{
        fill: #ee092a;
    }
    25%{
        fill: #c71d37;
    }
    50%{
        fill: #ac2b3e;
    }
    75%{
        fill: #c71d37;
    }
    100%{
        fill: #ee092a;
        
    }
}


@keyframes backgroundChange2 {
    0%{
        background-color: #ee092a;
    }
    25%{
        background-color: #c71d37;
    }
    50%{
        background-color: #ac2b3e;
    }
    75%{
        background-color: #c71d37;
    }
    100%{
        background-color: #ee092a;
    }
}