@import url(global.css);

.navbar{
    background-color: #333;
    position: unset;
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#marg{
    width: 100%;
    height: 25px;
    animation: backgroundChange2 10s ease-in-out infinite;
}

.curved, h3{
    background-color: #ee092a;
    text-align: center;
    color: white;
    animation: backgroundChange2 10s ease-in-out infinite;
}

.curved h1{
    width: 75%;
    text-align: center;
    margin: auto;
    font-size: 6rem;
    letter-spacing: 10px;
    border-bottom: 1px solid white;
}

.curved h2{
    font-size: 4.5rem;
}

.curved h2 img {
    height: 3rem;
    width: 4.5rem;
}

.curved svg{
    display: block;
}

.curved.upper{
    background-color: #fff;
}

.curved.upper svg path{
    animation: backgroundChange 10s ease-in-out infinite;
}

::-webkit-scrollbar-thumb{
    background-color: #333;
}

/* KEYFRAMES */

@keyframes backgroundChange {
    0%{
        fill: #ee092a;
    }
    25%{
        fill: #c71d37;
    }
    50%{
        fill: #ac2b3e;
    }
    75%{
        fill: #c71d37;
    }
    100%{
        fill: #ee092a;
        
    }
}


@keyframes backgroundChange2 {
    0%{
        background-color: #ee092a;
    }
    25%{
        background-color: #c71d37;
    }
    50%{
        background-color: #ac2b3e;
    }
    75%{
        background-color: #c71d37;
    }
    100%{
        background-color: #ee092a;
    }
}